.support image {
  opacity: 0.8;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  
}

.text-center{
  color:floralwhite
  font-family: monospace;
}
.section {
  text-align:center;
  padding: 60px 90px;
}

.section-light {
  background-color: #fdeeee;
  background-image: url('download (1).jfif') ;
  color: rgb(233, 216, 216);
}

.section-dark {
  background-color:#062e3aec;
  background-image: radial-gradient();
  color: #ddd;
}

.container{
  width: 90%;
  max-width: 80rem;
  margin-top: 0em;
  padding: 0;
  text-align: right;

}
.accordion-item{
  background-color: #062e3aec ;
  border-radius: .2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
  font-family: monospace;
  color: #ddd;
}
.accordion-link{
   font-size: 1.6rem;
   color: rgba(255,255,255,.8);
   text-decoration: none;
   background-color: #283042;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 0;
}

.accordion-link i{
   color: #e7e2ee;
   padding: .5rem;
}

.accordion-link .ion-md-remove{
   display: none;
}

.answer{
   max-height: 0;
   overflow: hidden;
   position: relative;
   background-color: #212838;
   transition: max-height 650ms;
   
}
.answer::before{
   content: "";
   position: absolute;
   width: .6rem;
   height: 90%;
   background-color: #f1f52b;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}
.answer p{
  color: rgba(255,255,255,.6);
  font-size: 1.4rem;
  padding: 2rem;
}

.accordion-item:target .answer{
   max-height: 15rem;
}

.accordion-item:target .accordion-link .ion-md-add{
   display: none;
}
.accordion-item:target .accordion-link .ion-md-remove{
  display: block;
}
